{% if product.type is defined %}
<strong>Instrument :</strong>
{% else %}
<strong>Disc :</strong>
{% endif %}

<p>
    {{ product.name|upper }}<br/>
    {{ product.description }}<br/>
    {{ product.price }} €
</p>
<a href="/product/{{ product.id }}">En savoir plus</a>
<hr/>